<h1>Lista de Raças</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= link_to 'Editar', edit_race_path(race) %></td>
        <td><%= link_to 'Deletar', race, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar nova Raça', new_race_path %>
<br>
<%= link_to 'Animais', animals_path%>
