

<p>
  <strong>Idade:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @animal.peso %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @animal.race.name%>
</p>



<%= link_to 'Editar', edit_animal_path(@animal), class: 'btn btn-default'  %> |
<%= link_to 'Voltar', animals_path, class: 'btn btn-default'   %>
